<div class="sidenav-container">
  <div class="sidenav">
    <a href="#">Gender</a>
    <br>
    <select #gender [(ngModel)]="selectedGender" (change)="onSelectGender()">
      <option default>Select</option>
      <option>Female</option>
      <option>Male</option>
      <option>Unisex</option>
    </select>
    <br>
    <a href="#">Colour</a>
    <br>
    <select #colour [(ngModel)]="selectedColour" (change)="onSelectColour()">
      <option default>Select</option>
      <option *ngFor="let temp of availableColours" value="{{temp}}">
        {{ temp }}
      </option>
    </select>
    <br>
    <a href="#">Type</a>
    <br>
    <select #type [(ngModel)]="selectedType" (change)="onSelectType()">
      <option default>Select</option>
      <option>Casual</option>
      <option>Formals</option>
    </select>
    <br>
    <a href="#">Price</a>
    <br>
    <input type="range" id="points" name="points" min="100" max="10000">
  </div>
</div>



